section.main-page
	.container
		.main-content
			h2.main-content__title Давий Владимир Николаевич
			h3.main-content__sub-title html-верстальщик
			p 
				span Дата рождения: 
				| 12 августа 1995 (21 год)
			p 
				span Город: 
				| Одесса
			p 
				span Образование: 
				| высшее, ОНАПТ (Одесская Национальная Академия Пищевых Технологий), Информационные управляющие системы и технологии.
			p 
				span Владение языками: 
				| украинский, русский, английский - на уровне чтения технической документации.
			p 
				span Личные качества: 
				| честность, целеустремленность, ответственность, пунктуальность, хорошее чувство юмора.
			p 
				span О себе: 
				| в свободное время верстаю сайты для повышения своих навыков, изучаю Frontend.