section.portfolio-items
	.container
		h2.section-titile Портфолио
		.portfolio-items-wrap
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/barbeshop/" target="_blank")
						img(src="img/content/portfolio/barbeshop.jpg", width="290" height="240" alt="Главная страница сайта Барбешоп «Бородинский»").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/barbeshop/price.html" target="_blank")
						img(src="img/content/portfolio/barbeshop_price.jpg", width="290" height="240" alt="Прайс-лист сайта Барбешоп «Бородинский»").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/barbeshop/shop.html" target="_blank")
						img(src="img/content/portfolio/barbeshop_shop.jpg", width="290" height="240" alt="Средства для ухода Барбешоп «Бородинский»").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/Hipsweet/" target="_blank")
						img(src="img/content/portfolio/hipsweet.jpg", width="290" height="250" alt="Главная страница сайта Hipsweet").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/ActiveBox/" target="_blank")
						img(src="img/content/portfolio/activebox.jpg", width="290" height="250" alt="Главная страница сайта Activebox").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="https://vingeb0.github.io/works/unicorn" target="_blank")
						img(src="img/content/portfolio/unicorn.jpg", width="290" height="250" alt="Главная страница сайта unicorn").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/nerds/" target="_blank")
						img(src="img/content/portfolio/nerds.jpg", width="290" height="250" alt="Главная страница студии Nerds").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/nerds/shop.html" target="_blank")
						img(src="img/content/portfolio/nerds_shop.jpg", width="290" height="250" alt="Страница макетов студии Nerds").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingebo.zzz.com.ua" target="_blank")
						img(src="img/content/portfolio/cie.jpg", width="290" height="250" alt="Центр международного образования").portfolio-item__img