section.skills-info
	.container
		h2.section-titile Навыки
		ul.skills__list
			li.skills-icon.skills-icon--html HTML5/CSS3
			li.skills-icon.skills-icon--js JavaScript/jQuery (на уровне подключения плагинов)
			li.skills-icon.skills-icon--sass Препроцессор Sass/Scss
			li.skills-icon.skills-icon--pug Шаблонизатор Pug
			li.skills-icon.skills-icon--bp3 Bootstrap 3
			li.skills-icon.skills-icon--gulp Gulp
			li.skills-icon.skills-icon--bem Bem naming - именование классов по Бэму
			li.skills-icon.skills-icon--code Кроссбраузерная, адаптивная, семантическая, валидная верстка
			li.skills-icon.skills-icon--git Git (базовые команды)
			li.skills-icon.skills-icon--ps Photoshop (на уровне нарезки макетов)