section.contacts-info
	.container
		h2.section-titile Контактная информация
		.contacts-general-info
			ul.general-info__list
				li 
					span.general-info-title.general-info-icon.general-info-icon--house Адрес:
					span Украина, Одесса
				li 
					span.general-info-title.general-info-icon.general-info-icon--smartphone Телефон:
					a(href="tel:+380964272954" target="_blank") +380964272954
				li 
					span.general-info-title.general-info-icon.general-info-icon--email Email:
					a(href="mailto:vladimir.davii@gmail.com") vladimir.davii@gmail.com