section.main-page
	.container
		.main-content
			h2.main-content__title Давий Владимир Николаевич
			h3.main-content__sub-title Junior front-end, HTML-верстальщик
			p 
				span Дата рождения: 
				| 12 августа 1995 (22 года)
			p 
				span Город: 
				| Одесса
			p.text-margin
				span Опыт работы:
				ul.index-list
					li
						| Dals media,
						| HTML-верстальщик,
						| с 08.2017 по 10.2017 (2 месяца),
						| верстка сайтов.
					li
						| Vizualtech,
						| HTML-верстальщик,
						| с 11.2017 по 02.2017 (3 месяца),
						| верстка сайтов с нуля, email писем, ionic приложений, написание скриптов, правки уже существующих сайтов.
			p
				span Образование:
				|  высшее, ОНАПТ (Одесская Национальная Академия Пищевых Технологий), Информационные управляющие системы и технологии.
			p
				span Владение языками: 
				| украинский, русский, английский - на уровне чтения технической документации.
			p 
				span Личные качества: 
				| честность, целеустремленность, ответственность, пунктуальность.
			p 
				span О себе: 
				| в свободное время верстаю сайты для повышения своих навыков, изучаю Frontend.