section.portfolio-items
	.container
		h2.portfolio-titile Портфолио
		.portfolio-items-wrap
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/barbeshop/" target="blank")
						img(src="img/content/portfolio/barbeshop.jpg", width="290px" height="240px" alt="").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/Hipsweet/" target="blank")
						img(src="img/content/portfolio/Hipsweet.jpg", width="290px" height="250px" alt="").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/ActiveBox/" target="blank")
						img(src="img/content/portfolio/activebox.jpg", width="290px" height="250px" alt="").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="https://vingeb0.github.io/works/unicorn" target="blank")
						img(src="img/content/portfolio/unicorn.jpg", width="290px" height="250px" alt="").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingeb0.zzz.com.ua/nerds/" target="blank")
						img(src="img/content/portfolio/nerds.jpg", width="290px" height="250px" alt="").portfolio-item__img
			.portfolio-item
				.portfolio-item__img-wrap
					a(href="http://vingebo.zzz.com.ua" target="blank")
						img(src="img/content/portfolio/cie.jpg", width="290px" height="250px" alt="").portfolio-item__img