footer.footer
	.container 
		span.footer-copy Copyright © 2017 Давий Владимир. Все права защищены.
		<a class="footer-counter" href="https://metrika.yandex.ru/stat/?id=45255351&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/45255351/3_0_4C5E70FF_2C3E50FF_1_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a>
