header.header
	.container
		.main-photo
			img(src="img/general/user-photo.png" width="140px" height="185px", alt="").main-photo__img
		h1.header-name Давий Владимир
		span.header-profession html-верстальщик/junior Front-end
		.social
			ul.social__list
				li
					a(href="https://vk.com/vingebo" target="blank" title="Вконтакте").social-link.social-link--vk
				li
					a(href="https://www.facebook.com/vingeb0" target="blank" title="Facebook").social-link.social-link--fb
				li
					a(href="https://github.com/vingeb0" target="blank" title="GitHub").social-link.social-link--gh
				li
					a(href="mailto:vladimir.davii@gmail.com" title="@gmail.com").social-link.social-link--gm
					.social-tooltip-gm vladimir.davii@gmail.com
		nav.main-nav
			ul.main-nav__list
				li
					a(href="index.html") Главная
				li
					a(href="javascript:void(0);") Навыки
				li
					a(href="portfolio.html") Портфолио
				li
					a(href="javascript:void(0);") Контакты

		
	