header.header
	.container
		.main-photo
			img(src="img/general/user-photo.png" width="140" height="185", alt="Давий Владимир").main-photo__img
		h1.header-name Давий Владимир
		span.header-profession Junior front-end, html-верстальщик
		.social
			ul.social__list
				li
					a(href="https://vk.com/vingebo" target="_blank" title="Вконтакте").social-link.social-link--vk
				li
					a(href="https://www.facebook.com/vingeb0" target="_blank" title="Facebook").social-link.social-link--fb
				li
					a(href="https://github.com/vingeb0" target="_blank" title="GitHub").social-link.social-link--gh
				li
					a(href="mailto:vladimir.davii@gmail.com" title="@gmail.com").social-link.social-link--gm
					.social-tooltip-gm vladimir.davii@gmail.com
		.mobile-menu__toogle
			span.mobile-menu__line.mobile-menu__top-line
			span.mobile-menu__line.mobile-menu__middle-line
			span.mobile-menu__line.mobile-menu__bottom-line
		nav.main-nav
			ul.main-nav__list
				li
					a(href="index.html") Главная
				li
					a(href="skills.html") Навыки
				li
					a(href="portfolio.html") Портфолио
				li
					a(href="contacts.html") Контакты
				li
					a(href="javascript:void(0);") Другое

		
	